body{
	margin:0;
	padding:0;
	background-color: #c8cac9;
}
ul{
	padding: 25px;
	list-style-type: none;
	float: right;
	font-size:25px;
	margin-top: -75px;
	position: fixed;
	margin-left:47vw;
}
ul #home{
	background-color:red;
	border-radius:10px;
}
ul #troca{
	color:red;
	font-weight: bolder;
}
ul #cartao{
	color:red;
	font-weight: bolder;
}
ul #sobre{
	color:red;
	font-weight: bolder;
}
ul #contato{
	color:red;
	font-weight: bolder;
}
.fundo{
	width: 100%;
	height: 500px;
	background-image: url("../img/desk.png");
	background-repeat: no-repeat;
	background-size:cover;
}
#link{
    position: absolute;
    right: 8vw;
    padding: 39px 146px;
    top: 39vh;
}
.oferta{
	text-align:center;
	font-weight: bolder;
	font-size:30px;
	
}
.borda{
	background-color:#9e9e9e;
	height:10px;
}
li{
	display: inline;
}
li a{
	text-decoration: none;
	color: white;
	padding: 25px;
}
.img img{
	width:140px;
}
.paragrafo .txt1{
	float:right;
	width: 45vw;
	margin-top:130px;
	text-align:justify;
	margin-right:150px;
	font-size:25px;
	letter-spacing:1px;
}
.paragrafo .txt2{
	width:30vw;
	padding-top:5vh;
	margin-left:200px;
	font-size:30px;
	color:#76623b;
}
.paragrafo .imgbox{
	width: 30vw;
	margin-left:200px;	
	
}
.paragrafo .imgbox img{
	width: 100%;
	box-shadow:0px 0px 20px 13px #000000a1;
}
.paragrafo .imgbox p{
	font-size:15px;
	text-align:center;
	font-weight: bolder;
}
.linkb{
	margin-left:22vw;
	margin-top:40px;
}
.linkb a{
	color: white;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    background: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 1vw;
}
.paragrafo .imgcorrida{
	width: 30vw;
	float:right;
	margin-right: 9vw;
	margin-bottom: 2vh;
	
}
.paragrafo .imgcorrida img{
	width: 100%;
	box-shadow:0px 0px 20px 13px #000000a1;
	margin-top:0vh;
}
.paragrafo .imgcorrida p{
	font-size:15px;
	text-align:center;
	font-weight: bolder;
}
.linkc{
	margin-left:22vw;
	margin-top:40px;
}
.linkc a{
	color: white;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    background: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
	margin-left:51vw;
}
.paragrafo .paragrafo2 .txt3{
	float:left;
	width: 45vw;
	margin-top:18vh;
	text-align:justify;
	margin-left:5vw;
	font-size:25px;
	letter-spacing:1px;
}
.txt4{
	width:27vw;
	padding-top:5vh;
	margin-left:120vh;
	font-size:30px;
	color:#76623b;
	margin-top:4vh;
}
.contato{
	text-align:center;
	font-weight: bolder;
	font-size:30px;
	color:white;
}
.borda2{
	background-color: #9e9e9e;
	height:200px;
    margin-top: 200px;
}




