@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=EB+Garamond:ital,wght@1,800&display=swap');
body{
	font-family: 'Crimson Text', serif;
	background-color: #000000;
	color: white;
	margin-left: 30%; margin-right: 30%;
	text-align: justify;
}

img{
	margin-top: 10px;
	margin-bottom:10px;
	border: solid 4px white;
	border-radius: 10px;
	max-width: 100%;
}

p{
	text-indent: 40px;
}