body{
	background-image: url("../img/image.jpg");
	background-size: cover; 
	margin: 0;
	padding: 0;
}
nav{
	padding-left: 10vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 7vh;
	background-color: #783c00;
}
nav input{
	width: 30vw;
	margin-top: 1vh;
	padding-top: 1vh;
	padding-left: 4vw;
	padding-right: 10vw;
	padding-bottom: 1vh;
	border-radius: 25px;            /*arredondar a borda*/
	background-color: #FFFAF0;
	color: #783c00;
	font-weight: 700;
}
#lupa{
	position: fixed; 
	margin-top: 2.3vh;
	margin-left: 1.5vh;
}
#headphone{
	float: right; /* para se deslocar para direita*/
	color: white;
	margin-top: 2vh;
	margin-right: 2vw;
}

nav img{
	float: right; 
	margin-top: 1.2vh;
	margin-right: 2vw;
}
nav span{
	color: white;
	float: right;
	margin-top: 2vh; /* mover para cima e pra baixo*/
	margin-right: 1.5vw; /* mover para os lados*/
	text-transform:uppercase;
	font-weight: 700; /* colcoar a letra em negrito */
	/* letter-spacing: 3px;  dar espaços entre as letras */
}
section.info{
	display: flex; /* colocar frases um ao lado do outro */
	margin-top: 0.8vh;
	border-top: solid 5px #783c00;
	border-bottom: solid 20px #783c00;
	
}
section.info div.endereco{
	display: flex;
	justify-content: space-between;
	min-width: 33vw;
	max-width: 33vw;
}
section.info div.texto-endereco{
	color: #783c00;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 0px;
	margin-left: 115px;
}
section.info div.texto-endereco p{
	line-height: 0px;
	font-weight: bold;
}
section.info div.barra-lateral{
	width: 0.5vw; /* vw largura */
    background-color: #783c00;
    border-radius: 5px;
    transform: rotate(15deg);
    margin-top: 8px;
    margin-bottom: 8px;
}
div.funcionamento{
	color: #783c00;	
	/*margin-left: -4vw; /*espaçamento lateral*/
	min-width: 33vw;
	max-width: 33vw;
	text-align: center;
}
div.funcionamento p{
	margin-top: -15px;
}
div.contatos{
	color: #783c00;
	min-width: 33vw;
	max-width: 33vw;
}
div.contatos h1{
	margin-left: 6vw;
}
div.contatos .redes{
	display: flex;
	
}
div.contatos .redes .img{
	margin-left: 3vw;
}
div.contatos .qr-code{
	float: right;
	margin-top: -130px;
}
section.menu{
	display: flex;
	justify-content: space-between;
	padding: 3vh 3vw;
	color: #783c00;
}
section.menu .icone-menu{
	font-size: 50px;
}

